$sky-blue: #B2FCFC;
$red: #E84672;
$light-grey: #EEEEEE;
$green: #31a35d;
$blue: #10316B;
$large-text: 2.5rem;
$medium-text: 1.2rem;
$normal-text: 1rem;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background: url("../image/bg.svg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.row > * {
    grid-column: 12 span;
}

.gap-5px {
    grid-gap: 5px;
}

.gap-1rem {
    grid-row-gap: 2rem;
}

main {
    max-width: 280px;
    margin: auto;
    padding: 2rem 0;
}

.heading {
    color: white;
    font-size: $large-text;
    text-align: center;
    font-weight: 700;
    margin-bottom: 3rem;
}

.underline {
    border: none;
    height: 1px;
    background-color: $sky-blue;
    width: 80%;
    margin: .3rem auto 0 auto;
}

.new-game-btn {
    display: block;
    border: 2px solid $sky-blue;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    padding: .5rem 1rem;
    font-size: $medium-text;
    background-color: $blue;
    color: $sky-blue;
    margin: auto;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.shine-btn {
    box-shadow: 0 0 9px -1px $sky-blue;
}

.new-game-btn:active {
    transform: scale(.92);
}

.game-board {
    img {
        width: 100%;
        height: auto;
        border-radius: .3rem;
        grid-column: 4 span;
        cursor: pointer;
        transition: box-shadow 100ms ease-in-out;
    }

    img:hover {
        box-shadow: 0 0 9px -1px $sky-blue; 
    }

    position: relative;
}

.won-text,
.lose-text,
.draw-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: $medium-text + .9rem;
    // background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    color: $green;
    padding: 6.4rem 6.7rem;
}

.lose-text {
    color: $red;
}

.draw-text {
    color: $blue;
}

.hidden {
    visibility: hidden;
}

.score-board {
    * {
        grid-column: 4 span;
    }

    .score {
        font-size: $medium-text + .5rem;
        font-weight: bold;
    }

    .won {
        color: $green;
    }

    .lose {
        color: $red;
    }

    .draw {
        color: $blue;
    }

    line-height: 2rem;
    text-align: center;
    background-color: $light-grey;
    padding: .5rem;
    border-radius: .3rem;
    box-shadow: 0 5px 15px -3px;
}

.choose {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: scale(.6);
    transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
    opacity: 0;
    visibility: hidden;
    
    img {
        display: block;
        margin: 1.5rem;
        border-radius: .3rem;
        transition: transform 250ms ease-in-out;
        cursor: pointer;
    }

    img:hover {
        transform: scale(1.2);
    }
}

.scale-up {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}

