* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background: url("../image/bg.svg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.row > * {
  grid-column: 12 span;
}

.gap-5px {
  grid-gap: 5px;
}

.gap-1rem {
  grid-row-gap: 2rem;
}

main {
  max-width: 280px;
  margin: auto;
  padding: 2rem 0;
}

.heading {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 3rem;
}

.underline {
  border: none;
  height: 1px;
  background-color: #B2FCFC;
  width: 80%;
  margin: .3rem auto 0 auto;
}

.new-game-btn {
  display: block;
  border: 2px solid #B2FCFC;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  padding: .5rem 1rem;
  font-size: 1.2rem;
  background-color: #10316B;
  color: #B2FCFC;
  margin: auto;
  cursor: pointer;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.shine-btn {
  -webkit-box-shadow: 0 0 9px -1px #B2FCFC;
          box-shadow: 0 0 9px -1px #B2FCFC;
}

.new-game-btn:active {
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}

.game-board {
  position: relative;
}

.game-board img {
  width: 100%;
  height: auto;
  border-radius: .3rem;
  grid-column: 4 span;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 100ms ease-in-out;
  transition: -webkit-box-shadow 100ms ease-in-out;
  transition: box-shadow 100ms ease-in-out;
  transition: box-shadow 100ms ease-in-out, -webkit-box-shadow 100ms ease-in-out;
}

.game-board img:hover {
  -webkit-box-shadow: 0 0 9px -1px #B2FCFC;
          box-shadow: 0 0 9px -1px #B2FCFC;
}

.won-text,
.lose-text,
.draw-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2.1rem;
  text-align: center;
  color: #31a35d;
  padding: 6.4rem 6.7rem;
}

.lose-text {
  color: #E84672;
}

.draw-text {
  color: #10316B;
}

.hidden {
  visibility: hidden;
}

.score-board {
  line-height: 2rem;
  text-align: center;
  background-color: #EEEEEE;
  padding: .5rem;
  border-radius: .3rem;
  -webkit-box-shadow: 0 5px 15px -3px;
          box-shadow: 0 5px 15px -3px;
}

.score-board * {
  grid-column: 4 span;
}

.score-board .score {
  font-size: 1.7rem;
  font-weight: bold;
}

.score-board .won {
  color: #31a35d;
}

.score-board .lose {
  color: #E84672;
}

.score-board .draw {
  color: #10316B;
}

.choose {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-transition: opacity 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  transition: opacity 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
  transition: transform 400ms ease-in-out, opacity 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.choose img {
  display: block;
  margin: 1.5rem;
  border-radius: .3rem;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  cursor: pointer;
}

.choose img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.scale-up {
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
/*# sourceMappingURL=index.css.map */